/*!
 *Style perso
 */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Montserrat:wght@300&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Epilogue&display=swap');*/

html,body
{
    overflow-x: visible;
}

.paragraph{
  font-family: 'Epilogue', sans-serif;
}

body {
  background: #ffffff;
  font-family: 'Epilogue', sans-serif;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #ffffff;
}
section:nth-child(2) {
  color: #ffffff;
  background: #ffffff;
}
section:nth-child(3) {
  color: #ffffff;
}
section:nth-child(4) {
  color: #111;
  background: #ffffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #ffffff;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}